<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/side-drawer") %>
    <main>
      <h1>Page not found</h1>
      <p>Sorry, the page you requested could not be found!</p>
    </main>
  </body>
</html>
