<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/side-drawer") %>
    <main>
      <h1>Something Went Wrong</h1>
      <p>
        Something went wrong. We are doing our best to fix it quickly. Thank you
        for you patience.
      </p>
    </main>
  </body>
</html>
